.wrap_post-content {
    * {
        font-size: 14px !important;
        color: var(--text-color) !important;
        letter-spacing: 0.25px !important;
    }

    span,
    p {
        line-height: 1.7 !important;
    }
}
