.btn__facebook {
    background: #2f6cdc;
}

.btn__twiter {
    background: #4cadf8;
}

.btn__pinterest {
    background: #ec623d;
}

.btn__google {
    background: #ef3218;
}

.btn__share {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: var(--white-color);
    margin: 0 3.5px;
}
