.breadcrumb {
    margin-bottom: 30px;
}

.old-price {
    margin-top: 6px;
    font-size: 20px;
    line-height: 1.7;
    text-decoration: line-through;
    color: #adadad;
    font-weight: 500;
    height: fit-content;
}

.product__box {
    width: 41.66666667%;
    padding: 0 15px;

    .list__image {
        cursor: pointer;
        max-height: 182px;
        padding-left: 3px;
        overflow: hidden auto;
        border: 1px solid var(--border-color);

        .list__image-item {
            line-height: 0;
            padding: 10px;

            img {
                height: 70px;
                border-radius: 5px;
                border: 1px solid var(--border-color);
            }
        }
    }

    .product__thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        height: 460px;
        padding: 5px;
        border: 1px solid var(--border-color);

        img {
            max-width: unset;
        }
    }
}

.product__info {
    width: 58.33333333%;
    padding: 0 15px;

    .product__info-title {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 16px;
        font-weight: 600;
        border-radius: 99px;
        padding: 0 40px;
        text-transform: uppercase;
    }
}
